<div class="
        app-header-menu
        app-header-mobile-drawer
        align-items-stretch
    " data-kt-drawer="true" data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}"
    data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="end"
    data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true"
    data-kt-swapper-mode="{default: 'append', lg: 'prepend'}"
    data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
    <div class="
            menu
            menu-rounded
            menu-column
            menu-lg-row
            my-5
            my-lg-0
            align-items-stretch
            fw-semibold
            px-2 px-lg-0
        " id="kt_app_header_menu" data-kt-menu="true">

        <div class="menu-item me-0 me-lg-2">
            <a class="menu-link" asp-controller="Home" asp-action="Index">
                <span class="menu-icon">
                    <i class="ki-outline ki-home fs-2"></i>
                </span>
                <span class="menu-title">Anasayfa</span>
            </a>
        </div>
        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start"
            class="menu-item menu-lg-down-accordion me-0 me-lg-2">
            <span class="menu-link">
                <span class="menu-icon">
                    <i class="ki-outline ki-setting-2 fs-2"></i>
                </span>
                <span class="menu-title">Sistem Ayarları</span>
                <span class="menu-arrow d-lg-none"></span>
            </span>
            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-250px">
                <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start"
                    class="menu-item menu-lg-down-accordion">
                    <span class="menu-link">
                        <span class="menu-icon">
                            <i class="ki-outline ki-mail fs-2"></i>
                        </span>
                        <span class="menu-title">E-posta</span>
                        <span class="menu-arrow"></span>
                    </span>
                    <div
                        class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-active-bg px-lg-2 py-lg-4 w-lg-225px">
                        <div class="menu-item">
                            <a class="menu-link" asp-controller="EmailTemplate" asp-action="List">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">E-posta Şablonları</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a class="menu-link" asp-controller="EmailAccount" asp-action="List">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">E-posta Hesapları</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a class="menu-link" asp-controller="QueuedEmail" asp-action="List">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">E-Posta Kuyruk</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item me-0 me-lg-2">
            <a class="menu-link" href="/Admin/Background-Services">
                <span class="menu-icon">
                    <i class="ki-outline ki-time fs-2"></i>
                </span>
                <span class="menu-title">Zamanlanmış Görevler</span>
            </a>
        </div>
    </div>
</div>